
.footer {
  padding-top: 20px;
}


.footer{
   color: white;
   background-color: #252525;
   
   width: 100%;
/* Set the fixed height of the footer here */

}

.footer a {
  color: #999999;
}


.sec-footer{
    background-color: #000;
    color: #efefef;
    text-align: center;
    padding: 30px;
}
.list-unstyled
{
    padding-top: 10px;
}
.list-unstyled > li
{
    padding-bottom:8px;
}

/*------------footer Css end------------------*/



@media only screen and (max-width: 768px) {
  body { margin-bottom: 400px; }
  

  .sec-column{
    padding: 0px;
    margin-top: 10px;
  }
}
